/* You can add global styles to this file, and also import other style files */

@import "app/property-list/property-list.component";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "MavenPro-Regular";
  src: url("./assets/fonts/MavenPro-Regular.ttf");
}

@font-face {
  font-family: "MavenPro-Bold";
  src: url("./assets/fonts/MavenPro-Bold.ttf");
}
